/* Write your CSS here! */

.section {
    width: 500px;
    margin-left: 25px;
}

body {
    margin: 8px;
    display: block;
}

#title {
    color: red;
}

#testP {
color: green;
}

.funParagraph {
    color: green
}

img {
    padding: 5px;
}